<!--reactive form -->
<form [formGroup]="lossForm" (submit)="send()" class="lossForm">
<fieldset>
  <legend>Loss Details</legend>
  <mat-form-field class="mat-form-field">
    <mat-placeholder>
      <mat-icon>
       calendar_today
      </mat-icon>
      Claim Date
    </mat-placeholder>

    <input type="date" matInput [formControl]="lostDate">
    <div [hidden]="lostDate.valid" class="validation">
      <div [hidden]="!lostDate.hasError('required')">
        **Must enter Vehicle Lost Date**
      </div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        alarm
      </mat-icon>
      Claim Time
    </mat-placeholder>

    <input type="time" matInput [formControl]="lostTime">
    <div [hidden]="lostTime.valid" class="validation">
      <div [hidden]="!lostTime.hasError('required')">
        **Must enter Vehicle Lost Time**
      </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        alarm
      </mat-icon>
      Speed
    </mat-placeholder>

    <input type="number" matInput [formControl]="speed">
    <div [hidden]="speed.valid" class="validation">
      <div [hidden]="!speed.hasError('required')">
        **Must enter Vehicle Speed**
      </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        place
      </mat-icon>
       Place
    </mat-placeholder>

    <mat-select (selectionChange)="getCountry($event)" [formControl]="place"  >
     <mat-option *ngFor="let country of countries" [value]="country.name">
           {{country.name}}
     </mat-option>
    </mat-select>
    <div [hidden]="place.valid" class="validation">
      <div [hidden]="!place.hasError('required')">
        **Must enter Place**
      </div>
    </div>

  </mat-form-field>

  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        place
      </mat-icon>
      To
    </mat-placeholder>

    <mat-select (selectionChange)="getTo($event)" [formControl]="to"  >
      <mat-option *ngFor="let country of countries" [value]="country.name">
        {{country.name}}
      </mat-option>
    </mat-select>
    <div [hidden]="to.valid" class="validation">
      <div [hidden]="!to.hasError('required')">
        **Must enter Destination**
      </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        place
      </mat-icon>
      Purpose
    </mat-placeholder>

    <mat-select (selectionChange)="getPurpose($event)" [formControl]="purposeCtl"  >
      <mat-option *ngFor="let data of purpose" [value]="data">
        {{data}}
      </mat-option>
    </mat-select>
    <div [hidden]="purposeCtl.valid" class="validation">
      <div [hidden]="!purposeCtl.hasError('required')">
        **Must enter Purpose**
      </div>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        people
      </mat-icon>
      Number of People
    </mat-placeholder>

    <input type="number" matInput [formControl]="headCount">
    <div [hidden]="headCount.valid" class="validation">
      <div [hidden]="!headCount.hasError('required')">
        **Must enter Head Count**
      </div>
      <div [hidden]="headCount.valid || headCount.pristine" class="validation">
        **Head Count should be between 1 to 72**
      </div>

    </div>
  </mat-form-field>

    <mat-checkbox (change)="isFir($event)" [formControl]="firFiled">Is FIR Filed!</mat-checkbox>

<div *ngIf="isFirFiled">
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        place
      </mat-icon>
      FIR No
    </mat-placeholder>

    <input type="number" matInput [formControl]="firNo">
    <div [hidden]="firNo.valid" class="validation">
      <div [hidden]="!firNo.hasError('required')">
        **Must FIR NO must**
      </div>

    </div>
  </mat-form-field>
</div>
  <mat-form-field>
    <mat-placeholder>
      <mat-icon>
        place
      </mat-icon>
      Police Station
    </mat-placeholder>

    <input type="text" matInput [formControl]="policeStationName">
    <div [hidden]="policeStationName.valid" class="validation">
      <div [hidden]="!policeStationName.hasError('required')">
        **Must enter Police Station Name**
      </div>

    </div>
  </mat-form-field>



    <input type="file" (change)="onFileChanged($event)"  [formControl]="statement">
    <div [hidden]="statement.valid" class="validation">
      <div [hidden]="!statement.hasError('required')">
        **Must upload Statement**
      </div>

    </div>

</fieldset>

  <!--<fieldset class="fieldSet">
    <legend>
      <h1 style="font-size: 20pt;">Driver Details</h1>
    </legend>
    <div>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>
            calendar_today
          </mat-icon>
          Driver Name
        </mat-placeholder>
        <input type="text" matInput [formControl]="driverName" >
        <div [hidden]="driverName.valid" class="validation">
          <div [hidden]="!driverName.hasError('required')">Driver Name is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          RelationShip with Insured
        </mat-placeholder>
        <input type="text" matInput [formControl]="relationShip" >
        <div [hidden]="relationShip.valid" class="validation">
          <div [hidden]="!relationShip.hasError('required')">RelationShip with Insured is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Address
        </mat-placeholder>
        <input type="text" matInput [formControl]="address" >
        <div [hidden]="address.valid" class="validation">
          <div [hidden]="!address.hasError('required')">Address is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Contact Number
        </mat-placeholder>
        <input type="number" matInput [formControl]="contactNumber" >
        <div [hidden]="contactNumber.valid" class="validation">
          <div [hidden]="!contactNumber.hasError('required')">Contact Number is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>
            calendar_today
          </mat-icon>
          DOB
        </mat-placeholder>
        <input type="date" matInput [formControl]="dateOfBirth" >
        <div [hidden]="dateOfBirth.valid" class="validation">
          <div [hidden]="!dateOfBirth.hasError('required')">Date of Birth is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Gender
        </mat-placeholder>
        &lt;!&ndash; <mat-radio-group [formControl]="gender" >
            <mat-radio-button class="example-radio-button" *ngFor="let gender of genderList" [value]="gender">
                {{gender}}
            </mat-radio-button>
        </mat-radio-group>
        <input type="text" matInput [formControl]="gender" > &ndash;&gt;
        <mat-select [formControl]="gender">
          <mat-option *ngFor="let gender of genderList" [value]="gender">
            {{gender}}
          </mat-option>
        </mat-select>
        <div [hidden]="gender.valid" class="validation">
          <div [hidden]="!gender.hasError('required')">Gender is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Email
        </mat-placeholder>
        <input type="text" matInput [formControl]="email" >
        <div [hidden]="email.valid" class="validation">
          <div [hidden]="!email.hasError('required')">Email is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Driving License Number
        </mat-placeholder>
        <input type="text" matInput [formControl]="drivingLicenseNumber" >
        <div [hidden]="drivingLicenseNumber.valid" class="validation">
          <div [hidden]="!drivingLicenseNumber.hasError('required')">Driving License Number is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>
            calendar_today
          </mat-icon>
          Effective From
        </mat-placeholder>
        <input type="date" matInput [formControl]="effectiveFrom" >
        <div [hidden]="effectiveFrom.valid" class="validation">
          <div [hidden]="!effectiveFrom.hasError('required')">Effective From is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>
            calendar_today
          </mat-icon>
          Effective To
        </mat-placeholder>
        <input type="date" matInput [formControl]="effectiveTo" >
        <div [hidden]="effectiveTo.valid" class="validation">
          <div [hidden]="!effectiveTo.hasError('required')">Effective To is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Issuing RTO
        </mat-placeholder>
        <input type="text" matInput [formControl]="issuingRTO" >
        <div [hidden]="issuingRTO.valid" class="validation">
          <div [hidden]="!issuingRTO.hasError('required')">Issuing RTO is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Vehicle Class
        </mat-placeholder>
        <mat-select (selectionChange)="getVehicleClass($event)" [formControl]="vehicleClass">
          <mat-option *ngFor="let vehicleClass of vehicleClasses" [value]="vehicleClass">
            {{vehicleClass}}
          </mat-option>
        </mat-select>
        <div [hidden]="vehicleClass.valid" class="validation">
          <div [hidden]="!vehicleClass.hasError('required')">Vehicle Class To is required</div>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-placeholder>
          <mat-icon>

          </mat-icon>
          Type Of Driver
        </mat-placeholder>
        <mat-select (selectionChange)="getTypeOfDriver($event)" [formControl]="typeOfDriver">
          <mat-option *ngFor="let typeOfDriver of typeOfDrivers" [value]="typeOfDriver">
            {{typeOfDriver}}
          </mat-option>
        </mat-select>
        <div [hidden]="typeOfDriver.valid" class="validation">
          <div [hidden]="!typeOfDriver.hasError('required')">Type Of Driver is required</div>
        </div>
      </mat-form-field>-->
      <button mat-fab type="submit" color="primary" [disabled]="!lossForm.valid" >
        <mat-icon>lock_open</mat-icon>
      </button>
      <button mat-fab type="reset" color="warn" [disabled]="!lossForm.valid" >
        <mat-icon>lock_open</mat-icon>
      </button>

  <!--  </div>
  </fieldset>-->


</form>
